<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/plugins/layui.css">
    <script src="../../static/plugins/layui.js"></script>
    <script src="../../static/assets/layui.all.js"></script>
    <script src="../../static/plugins/jquery-3.4.0.js"></script>
</head>
<body>
    <form class="layui-form" action="" style="margin-top: 30px;margin-left: -25px;">
        <div class="layui-form-item">
            <label class="layui-form-label">原密码</label>
            <div class="layui-input-inline">
                <input type="password" name="yuanpassword" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-inline">
                <input type="password" name="newpassword" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-inline">
                <input type="password" name="resurepassword" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即修改</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <script>
        layui.use('form', function(){
            var form = layui.form,
            layer = layui.layer;
            form.on('submit(formDemo)', function(data){
                // layer.msg(JSON.stringify(data.field));
                var yuanpassword = data.field.yuanpassword;
                var newpassword = data.field.newpassword;
                var resurepassword = data.field.resurepassword;
                $.ajax({
                        type: 'POST',
                        url: "/user/regPassword",
                        data:{pwd:yuanpassword},
                        dataType: 'json',
                        success: function (data) {
                           if(data.reTip!="原密码错误！"){
                               if(newpassword == resurepassword){
                                   $.ajax({
                                       type: 'POST',
                                       url: "/user/updatePassword",
                                       data:{userpassword:newpassword},
                                       dataType: 'json',
                                       success: function (data) {
                                           setTimeout(function () {
                                               layer.msg(data.reTip);
                                           },500)
                                           setTimeout(function () {
                                               window.open("/user/toUserLogin","_top")
                                               // window.location.href = "/user/toUserLogin";
                                           },500)
                                       }
                                   })
                               }else{
                                   setTimeout(function () {
                                       layer.msg("两次密码不一致！");
                                   },500)
                               }
                           }else {
                               layer.msg(data.reTip);
                           }
                        }
                    });
                return false;
            });
        });
    </script>

</body>
</html>