<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>问题管理</title>
    <link rel="stylesheet" href="../../static/assets/css/layui.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="../../static/plugins/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="../../static/plugins/jquery-3.4.0.js"></script>
    <link rel="stylesheet" href="../../static/bootstrap.min.css">
</head>
<body >
<div id="app">
    <br>
    <el-row>
        <el-col :span="4" :offset="3">
            <div>
                <el-select v-model="qtName" placeholder="选择题目类别" class="selectWidth">
                    <el-option :value="qtName" v-for="(qtName,key) in qtNames"  :key="key" class="selectWidth"></el-option>
                </el-select>
            </div>
        </el-col>
        <el-col :span="4" :offset="1">
            <div>
                <el-select v-model="classification" placeholder="选择题型" class="selectWidth">
                    <el-option :value="classification" v-for="(classification,key) in classifications" :key="key" class="selectWidth"></el-option>
                </el-select>
            </div>
        </el-col>
        <el-col :span="4" :offset="1">
            <div>
                <el-select v-model="qtsName" placeholder="选择题目" class="selectWidth">
                    <el-option :value="qtsName" v-for="(qtsName,key) in qtsNames" :key="key" class="selectWidth"></el-option>
                </el-select>
            </div>
        </el-col>
        <el-col :span="2" :offset="1">
            <div>
               <el-button @click="addQusToNaire">添加</el-button>
            </div>
        </el-col>
        <el-col :span="2" >
            <input  class="btn btn-large" style="margin-left: 30px;background-color:white;" type="button" name="Submit" onclick="javascript:history.back(-1);" value="返回上一页">
        </el-col>
    </el-row>
    <el-row>
        <el-col :offset="3">
            <table id="test" lay-filter="test"></table>
        </el-col>
    </el-row>
</div>
<br>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delQuestions">删除</a>
</script>
<script src="../../static/assets/layui.all.js"></script>
<script>
    const ap = new Vue({
        el:'#app',
        data:{qtName:'',qtNames:[],dicQt:[], classification:'', classifications:[],
            qtsName:'',qtsNames:[],dicQuid:[],qnId:''
        },
        beforeCreate(){
            this.$nextTick(()=>{
                axios
                    .get('/admin/selectAllQuestionsType')
                    .then((res)=>{
                           res.data.forEach((re)=>{
                              this.qtNames.push(re.qtName);
                               this.dicQt[re.qtName] = re.qtid;
                           })
                    })
                    .catch(function (err) {
                        console.log(err)
                    });
                axios
                    .get('/admin/getSessionQnId')
                    .then((res)=>{
                        this.qnId = res.data;
                        this.getInitTable(res.data);
                    })
                    .catch(function (err) {
                        console.log(err)
                    });

                })
        },
        watch:{
            qtName(qtName,oldVal){
                mounted :{
                    this.classifications = ['单选题','多选题','简答题'];
                    this.classification = '';
                }
            },
            classification(classification,oldVal){
                mounted :{
                    // console.log(classification);
                    // console.log(this.dicQt[this.qtName]);
                    var param = new URLSearchParams();
                    param.append("qtid",this.dicQt[this.qtName]);
                    param.append("classification",classification);
                    axios
                        .post('/admin/getQuestionsByidcal',param)
                        .then((res)=>{
                            this.qtsNames = [];
                            res.data.forEach((re)=>{
                                this.qtsNames.push(re.qtsName);
                                this.dicQuid[re.qtsName] = re.quId;
                            })
                        })
                        .catch(function (err) {
                            console.log(err)
                        });
                }
            },
            qtsName(qtsName,oldVal){
                mounted :{
                    // console.log(this.classification);
                    // console.log(this.dicQt[this.qtName]);
                    // console.log(this.dicQuid[qtsName]);
                }
            },
        },
        methods:{
            addQusToNaire(){
                // console.log(this.qnId);
                // console.log(this.dicQuid[this.qtsName]);
                var param = new URLSearchParams();
                param.append("qnId",this.qnId);
                param.append("quId",this.dicQuid[this.qtsName]);
                axios
                    .post('/admin/addQusToNaire',param)
                    .then((res)=>{
                        if(res.data){
                            this.$message({type:"info",message:"添加成功！",duration:1000})
                            this.getInitTable(this.qnId);
                        }else {
                            this.$message({type:"waring",message:"添加成功！",duration:1000})
                        }
                    })
                    .catch(function (err) {
                        console.log(err)
                    });
            },
            getInitTable(res){
                var _this = this;
                layui.use(['layer', 'table'], function(){
                    var layer = layui.layer
                        ,table = layui.table;
                    //reload 刷新
                    function  loadNews(currIndex){
                        var currNum;
                        var currCount;
                        //初始化
                        table.render({
                            elem: '#test'
                            ,id: 'test'
                            ,height: 458
                            ,width: 755
                            ,url: '/admin/getQuestionsByQnId'
                            ,where:{qnId:res}
                            ,limit: 8
                            ,limits: [8, 16]
                            ,page: {curr:currIndex}
                            ,done: function (res, curr, count) {
                                currNum = curr;    //得到当前页码
                                currCount = count;
                            }
                            ,cols: [
                                [
                                    {field: 'quId', title: '问题编号', width:180, sort: true}
                                    ,{field: 'qtsName', title: '问题题目', width:200}
                                    ,{field: 'classification', title: '问题题型', width:200}
                                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:170}
                                ]
                            ]
                        });
                        //监听行工具事件 删除 查看
                        table.on('tool(test)', function(obj){
                            var data = obj.data;
                            if(obj.event === 'delQuestions'){
                                layer.confirm('真的删除吗?', function(index){
                                    $.ajax({
                                        type: 'POST',
                                        url: "/admin/deleteQQByQuId",
                                        data: {quId: obj.data.quId},
                                        dataType: 'json',
                                        success: function (data) {
                                            if(data){
                                                layer.msg('删除成功！');
                                                layer.close(index);
                                                var couts = currNum*8;
                                                if(currCount-1<=couts-8 && currNum != 1){
                                                    loadNews(currNum-1);
                                                }else {
                                                    loadNews(currNum);
                                                }
                                            }else {
                                                layer.msg('删除失败！')
                                                layer.close(index);
                                                loadNews(currNum);}
                                        }
                                    });
                                });
                            }
                        });
                    }
                    loadNews(1);
                });
            }
        },

    })
</script>
</body>
</html>